{"system_path": "/home/USER/.memetalk",
 "core_path": "/home/USER/src/memetalk/core.img",
 "repositories":
    {"central": "http://modules.memetalk.org/central"},
 "override_to_local":
    {"central:bindgen/0.0.1": "/home/USER/src/memetalk/central/bindgen"}
}
